* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0px
}

#root {
  display: flex;
  justify-content: flex-start;
  width: 99vw;
  height: 100vh;
}

.NavBar {
  position: fixed;
}

.NavBarTop {
  position: fixed;
}

.NewOrder {
  margin: 100px 100px 100px 100px;
  align-items: center;
}

.WorkScreen {
  width: calc(99vw - 5vmax);
  position: absolute;
  margin-top: 3.5vmax;
  margin-left: 5vmax;
}
